#!/bin/sh

#MyAlias
#Basic Operation
alias ll='ls -alFh'
alias la='ls -A'
alias l='clear && ls -CFlh'
alias mv='mv -v'
alias cp='cp -v'
alias rm='rm -Iv'
alias cls='clear && neofetch'

#Basic Programms
alias txt=''
alias img='sxiv -faq'
alias play='mpv -fs -xy 3000:800'
alias listen=''
alias files=''
alias edit='krita'
alias nav=''

#Operations
alias update='sudo pacman -Syu'
alias indot='stow $HOME/.dotfiles/*'
alias undot='stow -D $HOME/.dotfiles/*'
alias redot='stow -R $HOME/.dotfiles/*'
alias umysite='sudo rsync -vr --delete-during --exclude '.git/' --exclude '.vscode/' --exclude 'README.md'--exclude '.gitignore' /run/media/$USER/Storage/codes/html-css-js/my-site/ /srv/http/ && systemctl restart httpd'
alias brired='xrandr --output DisplayPort-0 --brightness 0.6 && xrandr --output HDMI-A-0 --brightness 0.6'
alias brires='xrandr --output DisplayPort-0 --brightness 0.9 && xrandr --output HDMI-A-0 --brightness 0.9'

#Bookmarks
alias storage='cd /run/media/$USER/Storage/'
alias shows='cd /run/media/$USER/Storage/shows/'
alias codes='cd /run/media/$USER/Storage/codes/'
alias ccc='cd /run/media/$USER/Storage/ccc/'
alias media='cd /run/media/$USER/Storage/multimedia/'
alias workshop='cd $HOME/workshop/'
alias dotfiles='cd $HOME/.dotfiles/'

#Kitty
alias icat="kitty +kitten icat"
alias kdiff="kitty +kitten diff"

#Ambient
alias v="nvim"
alias extract="tar -extract"
alias n="nnn -adexSQ"
alias nnn="nnn -Q"
alias dk='sudo docker'
alias sxiv='sxiv -f -q -a'
#alias mpv='mpv -fs  -xy 3000:800'
#alias mplayer='mplayer -fs -zoom -xy 3000:800'
#alias sxiv='sxiv -faq'
alias matrix='cmatrix -bs'
alias tar='tar -v'

