#!/bin/sh

#MyAlias
#Basic Operation
alias ..='cdls ..'
alias ...='cdls ../..'
alias ....='cdls ../../..'
alias .....='cdls ../../../..'
alias cd='cdls'
alias ll='ls -glFh'
alias la='ls -A'
alias l='clear && ls -CFlh'
alias mv='mv -v'
alias cp='cp -v'
alias rm='rm -Iv'
alias cls='clear && neofetch'
#snap='ls -R /* | sed -n "p;N;" | xargs rm -r'

#Basic Programms
alias txt='devour mousepad'
alias img='devour sxiv -aq'
alias pdf='devour epdfview'
alias play='animeupdate'
alias video='devour mpv -fs'
alias listen='devour '
alias nav='devour '
alias edit='devour krita'
alias www='devour brave'
alias office='devour libreoffice'
alias print='lpstat -p -d'

#Operations
alias install='sudo pacman -S'
alias remove='sudo pacman -Rsu'
alias update='sudo pacman -Syu'
alias search='sudo pacman -Ss'
alias indot='stow '
alias undot='stow -D '
alias redot='stow -R '
alias umysite='sudo rsync -vr --delete-during --exclude '.git/' --exclude '.vscode/' --exclude 'README.md'--exclude '.gitignore' /run/media/$USER/Storage/codes/html-css-js/my-site/ /srv/http/ && systemctl restart httpd'
alias brired='xrandr --output DisplayPort-0 --brightness 0.3 && xrandr --output HDMI-A-0 --brightness 0.3'
alias brires='xrandr --output DisplayPort-0 --brightness 0.9 && xrandr --output HDMI-A-0 --brightness 0.9'
alias pontoautomatico='java -jar /mnt/Storage/programs/all/pontoAutomatico.jar'
alias dk='sudo docker'

#Bookmarks
alias storage='cd /mnt/Storage/'
alias shows='cd /mnt/Storage/shows/ 2>&1 && ls | sed "s/ (.*$//" | sed "s/^\[.*\] //" | sed "s/ S\([0-9]\) -/ \1 -/"'
alias codes='cd /mnt/Storage/codes/'
alias ccc='cd /mnt/Storage/ccc/'
alias media='cd /mnt/Storage/multimedia/'
alias workshop='cd $HOME/Desktop/'
alias dotfiles='cd $HOME/.dotfiles/'
alias babel='cd /mnt/Storage/babel'
alias music='cd /mnt/Storage/babel/music'

#Ambient
alias v="nvim"
alias extract="tar -extract"
alias n="nnn -adexSQ"
alias nnn="nnn -Q"
alias dk='sudo docker'
alias sxiv='devour sxiv -faq'
alias mpv='devour mpv'
alias matrix='cmatrix -bs'
alias tar='tar -v'

