* {
  font-family: "IBM Plex Mono" ;
	font-size: 18px;
	min-height: 24px;
	margin: 2px 0px 2px 0px;
}

window#waybar {
	background: #111111; 
	border: none;
	border-radius: 20;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	transition: none;
  color: #FFFFFF;
}

#workspaces {
	margin: 0px;
	padding: 0px;
	transition: none;
}

#workspaces button {
	margin: 0px;
	padding: 0px 4px 0px 4px;
	transition: none;
	color: #FFFFFF;
}

#workspaces button:hover {
	transition: none;
	box-shadow: none;
	text-shadow: none;
  color: #AAAAAA;
  background-color: inherit;
}

#network {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#pulseaudio {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#battery {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#battery.charging, #battery.plugged {
	color: #FFFFFF;
}

#battery.critical:not(.charging) {
  color: #FFFFFF;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
      background-color: #FFFFFF;
      color: #FFFFFF;
  }
}

#backlight {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#clock {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#memory {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#cpu {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#tray {
	transition: none;
	color: #FFFFFF;
	padding: 0px 8px 0px 8px;
}

#custom-launcher {
	padding: 0px;
	margin-left: 0px;
	margin-right: 8px;
	font-size: 24px;
	transition: none;
  color: #FFFFFF;
	padding: 0px 8px 0px 14px;
}

#custom-power {
	font-size: 20px;
	padding: 4px;
	margin-left: 4px;
	margin-right: 0px;
	transition: none;
	color: #FFFFFF;
	padding: 0px 16px 0px 8px;
}

#custom-updates {
	transition: none;
	color: #FFFFFF;
}

#custom-media {
	transition: none;
	color: #FFFFFF;
}
